GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REIGN_AUTH_SECRET=
DATABASE_URL=postgres://user:password@localhost:5432/reign_auth
REIGN_AUTH_URL=http://localhost:8081
